/*Reset*/
a,abbr,acronym,address,applet,article,aside,audio,b,blockquote,big,body,center,canvas,caption,cite,code,command,datalist,dd,del,details,dfn,dl,div,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,keygen,label,legend,li,meter,nav,object,ol,output,p,pre,progress,q,s,samp,section,small,span,source,strike,strong,sub,sup,table,tbody,tfoot,thead,th,tr,tdvideo,tt,u,ul,var{background:transparent;border:0 none;font-size:100%;margin:0;padding:0;border:0;outline:0;vertical-align:top;}ol, ul {list-style:none;}blockquote, q {quotes:none;}table, table td {padding:0;border:none;border-collapse:collapse;}img {vertical-align:top;}embed {vertical-align:top;}input[type=text], textarea{ outline:none;border-radius:0;}

article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video, main{display:block}mark,rp,rt,ruby,summary,time{display:inline}

/*Root for change the base color*/
:root {
    --main-color: #f0ecec;
}

/*Defolt settings , fonts , size and e.t.c. before work*/
* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    object-fit: cover;
}

input,
textarea {
    background-color: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #ffffff;
}

h1,
.title1 {
    font-weight: bold;
    font-size: 35px;
    line-height: 78px;
    letter-spacing: 1px;
}

h2,
.title2 {
    font-weight: bold;
    font-size: 28px;
    line-height: 43px;
    color: #000000;
    margin-bottom: 10px;
}

h3,
.title3 {
    font-weight: 600;
    font-size: 30px;
    line-height: 25px;
    letter-spacing: 1px;
    padding: 15px 5px;
    background-color: #123869;
    text-align: center;
}

h4,
.title4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #1d4f91;
}

.fa-solid {
    color: #fff;
}

.wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-radius: 10px;
    box-shadow: 0 0 20px #4A4A4A;
}
.left {
    background-color: #1d4f91;
    color: #fff;
    padding-bottom: 40px;
}
.right {
    background-color: #ffffff;
    padding-bottom: 40px;
}

.container--left {
    max-width: 430px;
    padding: 10px;
    margin: 0 auto;
}

.container--right {
    max-width: 1050px;
    padding: 10px;
    margin: 0 auto;
}
.left__img-block {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}
.left__avatar {
    max-width: 300px;
    max-height: 300px;
    border-radius: 10px;
    box-shadow: 0 0 30px #333333;
}

.left__contact-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.left__contact-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    margin-top: 25px;
    cursor: pointer;
    transition: 0.1s all;
}
.left__contact-item:hover {
    transform: scale(0.9);
}
.left__contact-logo {
    width: 55px;
    height: 55px;
}

.left__from, .left__worktime {
    font-size: 20px;
    margin-bottom: 5px;
}
.left__from-country {
    font-size: 15px;
    margin-bottom: 15px;
    font-weight: normal;
    letter-spacing: 0.5px;
}

.left__worktime-text {
    font-size: 15px;
    margin-bottom: 15px;
    font-weight: normal;
    letter-spacing: 0.5px;
}

.left__skills-list {
    list-style-type: circle;
}
.left__skills-item {
    margin-top: 15px;
}
.left__skills-name {
    font-size: 19px;
    margin-bottom: 3px;
}
.left__skills-line {
    width: 100%;
    height: 4px;
    background-color: #3275ce;
    position: relative;
}

.line-js:before, .line-ts:before, .line-html:before, .line-css:before, .line-sass:before, .line-git:before, .line-webpack:before, .line-figma:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    height: 100%;
}
.line-js::before {
    width: 80%;
}
.line-ts::before {
    width: 60%;
}
.line-html::before {
    width: 100%;
}
.line-css::before {
    width: 100%;
}
.line-sass::before {
    width: 100%;
}
.line-git::before {
    width: 80%;
}
.line-webpack::before {
    width: 60%;
}
.line-figma::before {
    width: 60%;
}

.left__skills-subname {
    text-align: end;
    font-weight: normal;
}

.right__personal-wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 20px;
    margin-top: 20px;
}

.right__personal-item {
    margin-top: 15px;
    color: #4A4A4A;
}
.fa-check {
    margin-right: 6px;
}


/*other*/
.right a {
    color: #000000;
}

.right__name-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}
.right__name-block .fa-solid {
    border: 2px solid #1d4f91;
    color: #1d4f91;
    border-radius: 50%;
    font-size: 25px;
    padding: 10px;
}

.right__name-icon {
    width: 50px;
    height: 50px;
}

.right__name-line {
    width: 100%;
    height: 2px;
    border: 0.5px solid #1d4f91;
    color: #1d4f91;
}
.right .fa-solid {
    color: #1d4f91;
}

.right {
    padding: 5px;
}

.right__place {
    display: flex;
    margin-bottom: 20px;
}

.fa-location-dot, .fa-user {
    margin-right: 8px;
    color: #333333;
}

.right__city {
    margin-right: 25px;
}

.right__expectation {
    font-weight: normal;
}

.right__education {
    color: #000000;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    transition: 0.2s ease-in-out;
}
.right__education:hover {
    color: #1d4f91;
}
.right__date-education {
    color: #4A4A4A;
    text-align: center;
}
.right__education-text {
    text-align: center;
    font-size: 15px;
    color: #4A4A4A;
    margin-bottom: 25px;
}

.right__about {
    text-align: center;
    color: #4A4A4A;
    letter-spacing: 0.5px;
    margin: 10px 0 10px 0;
}

.right__hobby-list {
    margin: 20px 0 20px 0;
}

.right__hobby-text {
    margin-left: 15px;
}
.right__hobby-item {
    margin-bottom: 5px;
    color: #4A4A4A;
}

.right__project-list {
    margin: 20px 0 30px 0;
}
.right__project-box {
}
.right__project-name {
    font-size: 30px;
    transition: 0.2s ease-in;
}

.right__project-name:hover {
    color: #1d4f91;
}

.right__project-subtitle {
    color: #4A4A4A;
    margin-bottom: 6px;
}

.right__project-line {
    width: 75%;
    height: 1px;
    background-color: #123869;
    margin-bottom: 20px;
}