/*Reset*/
a,abbr,acronym,address,applet,article,aside,audio,b,blockquote,big,body,center,canvas,caption,cite,code,command,datalist,dd,del,details,dfn,dl,div,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,keygen,label,legend,li,meter,nav,object,ol,output,p,pre,progress,q,s,samp,section,small,span,source,strike,strong,sub,sup,table,tbody,tfoot,thead,th,tr,tdvideo,tt,u,ul,var{background:transparent;border:0 none;font-size:100%;margin:0;padding:0;border:0;outline:0;vertical-align:top;}ol, ul {list-style:none;}blockquote, q {quotes:none;}table, table td {padding:0;border:none;border-collapse:collapse;}img {vertical-align:top;}embed {vertical-align:top;}input[type=text], textarea{ outline:none;border-radius:0;}

article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video, main{display:block}mark,rp,rt,ruby,summary,time{display:inline}

/*Root for change the base color*/
:root {
    --main-color: #f0ecec;
}

/*Defolt settings , fonts , size and e.t.c. before work*/
* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    object-fit: cover;
}

input,
textarea {
    background-color: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #ffffff;
}

h1,
.title1 {
    font-weight: 700;
    font-size: 35px;
    line-height: 78px;
    letter-spacing: 3.2px;
    color: #F5F5F5;
}

h2,
.title2 {
    font-weight: 600;
    font-size: 26px;
    line-height: 43px;
    color: #333333;
}

h3,
.title3 {
    font-weight: 600;
    font-size: 27px;
    line-height: 67px;
    letter-spacing: 1px;
}

h4,
.title4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #4A4A4A;
}
body {
    padding: 50px 150px;
}

.fa-solid {
    color: #fff;
}

.wrapper {
    width: 100%;
    height: 1500px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-radius: 10px;
    box-shadow: 0 0 20px #4A4A4A;
}
.left {
    background-color: #1d4f91;
    padding: 30px 20px;
    color: #fff;
}
.right {
    background-color: #ffffff;
}